

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
}


.playwrite {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
  color: aqua;
}
html{
    max-width: 500px;
}

.hero {
    position: relative;
   }
   
.hero img {
    display: block;
    width: 100%;
    height: auto; 
   }
h1, article{
    position: absolute;
   }

article p{
  float: left;
}
.hero img{
  float: right;

}