.callout {
	padding: 15px;
    max-width: 400px ;
    margin: 10px ;
    background-color: #247 ;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .1) ;
}

.callout img {
	border: 1px solid #000;
    background-color: #bbb;
    float: right;
    margin: 0 0 10px 15px;
    width: 100px;
    height: auto;
    padding: 3px;
}

blockquote {
	margin: 0;
}

cite {
	border-top: 1px dotted #fff;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: smaller;
}
